.favoriteSong-container {
  margin: 25px 0;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.social {
  flex-direction: row !important;
}

h4 {
  margin-left: 10px;
  font-weight: 500;
}

.icon1 {
  font-size: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
 margin-right: 10px;
}


  

